
body {
    background-image: url(../public/img/gateaux.jpeg);
}

.btn:hover{
            background-color: rgb(234, 238, 242);
            color:black;

}

.container { border-radius: 10px;
               padding: 50px; 
               background-color:hsla(0, 23%, 97%, 0.4);
               
            
}

.fb {
    height: 40px;
    width: 40px;
   }







